<% include ../partials/header %>
<div class="container">
    
    <div class="row">
        <div class="col-md-3">
            <p class="lead">CSI</p>
            <li class="list-group-item">Info 1</li>
            <li class="list-group-item active">Info 2</li>
            <li class="list-group-item">Info 3</li>
            <div id="map"></div>
        </div>
    
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=event.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"><%=event.price%></h4>
                    <p>Registration date - <%=event.created.toDateString() %></p>
                    <h4><a href=""><%=event.name%></a></h4>
                    <p><p><%=event.description%></p></p>
                    <p>
                       <em> Submitted by <%=event.author.username%> </em>
                    </p>
                    <% if(currentUser && event.author.id.equals(currentUser._id)){%>
                    <a class="btn btn-warning" href="/events/<%=event._id%>/edit">EDIT</a>
                    <form class="deleteform" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form> <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/events/<%=event._id%>/comments/new">Add New Comment</a>
                 </div>
                 <hr>
                <% event.comments.forEach(function(comment){  %>
                <div class="row">
                    <div class="col-md-12">
                       <strong> <%=comment.author.username%></strong>
                        <span class="pull-right">10 days ago</span>
                        <p><%=comment.text%></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){%> 
                        <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/comments/<%=comment._id%>/edit">Edit</a>
                        <form class="deleteform" action="/events/<%=event._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form> <% } %>
                    </div>
                </div>
                
    
                <% }) %>

            </div>
        </div>
        
    </div>
</div>




<script>
  function initMap() {
    var lat = <%= event.lat %>;
    var lng = <%= event.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= event.name %><br />
      <%= event.location %></strong>
      <p><%= event.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh9gIkIRpa98pDpseDftsHHSb28aXgICo&callback=initMap"></script>











<% include ../partials/footer %>
